@import "tailwindcss";

@theme {
  --font-ibm: "IBM Plex Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;
  --font-gummy: "Sour Gummy", sans-serif;
  --font-pixel: "Geist Pixel", sans-serif;
}


.navBtn { @apply text-2xl px-3 py-2 rounded-full } .navBtn:hover { @apply bg-gray-200 dark:bg-gray-700 } .nav-text{ @apply absolute top-14 opacity-0 group-hover:opacity-100 transition-all duration-300 text-sm }